
<div class="wrapper">
  <div class="container text-center">
    <div class="card">
      <p class="query"><%= @query %></p>
    </div>
    <div class="card">
      <p class="answer"><%= @answer %></p>
    </div>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
