
<div class="wrapper">
  <div class="new-form text-center form-group">
    <form action="/answer" method="get" class="form-horizontal">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="query" placeholder="what time is it?">
      <input type="submit" value="Go on!" class="btn btn-primary" id="submit">
    </form>
  </div>
</div>
