// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .wrapper {
  height: 100vh; /* 1vh => 1% of viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px;
}

input {
  display: block;
}

#submit {
  margin: 15px;
}

a {
  font-weight: bold;
}

.query {
  font-size: 22px;
}

.answer {
  color : grey;
}

